@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

:root,
* {
    /* padding: 0;
    margin: 0; */
    font-family: "suez one";
    box-sizing: border-box;
}

body {
    background-color: #BFD7EA;
}

/* colores:
#BFD7EA; (celestito casi blanco)
#FF5A5F; (rosa)
#0B3954; (azul oscuro)
#C81D25; (rojo)
#087E8B; (azul claro)
#04724D; (verde)

#BFD7EA; 
#FF5A5F; 
#0B3954; 
#C81D25; 
#087E8B;

*/

/* body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
} */

ul, ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  img {
    border-style: none;
    max-width: 100%;
    height: auto;
  }


